@font-face {
    font-family: 'raleway-medium';
    src: url('../fonts/raleway/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: raleway-medium;
}
